* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("fonts/Gilroy-Semibold.woff") format("woff");
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
    min-width: 1170px;
}

.header__link {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 7px 16px;
}

.home__link {
    color: #F25822;
}

.header {
    padding-top: 40px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 346px;
}

.nav {
    display: flex;
}